
    <div class="row ">
        <nav aria-label="breadcrumb mt-5">
            <ol class="breadcrumb mt-3">
                <li class="breadcrumb-item"><i class="fa-solid fa-house-circle-check"></i><a routerLink="/login">
                        Login</a></li>
                <li class="breadcrumb-item active" aria-current="page"><a routerLink="/Employee"></a> Employee Details</li>
            </ol>
        </nav>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card" id="tblEmployee">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <strong>Employee Information</strong>
                    <button type="button" (click)="savebutton()" class="btn btn-sm btn-danger" data-bs-toggle="modal"
                        data-bs-target="#frmEmployee"><i class="fa fa-plus"></i> Add new</button>

                </div>
                <div class="card-body">
                    <table class="table table-srtipped table-bordered ">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>EmpCode</th>
                                <th>Employee Email</th>
                                <th>Designation</th>
                                <th>role</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                           @for (emp of employeeList; track $index) { 
                            <tr >
                                <td>{{emp.empName}}</td>
                                <td>{{emp.empCode}}</td>
                                <td>{{emp.empEmailId}}</td>
                                <td>{{emp.empDesignation}}</td>
                                <td>{{emp.role}}</td>

                                <td>
                                    <button class="btn editbtn m-1 btn-info rounded" (click)="updatebutton()" data-bs-toggle="modal"
                                        data-bs-target="#frmEmployee" (click)="onEdit(emp)"><i class="fa-solid fa-file-pen"></i></button>
                                    <button class="btn deletebtn btn-danger rounded text-white"
                                        (click)="onDelete(emp)"><i class="fa-solid fa-trash-arrow-up"></i></button>
                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
        <div class="col-md-10">
            <div class="modal" id="frmEmployee" style="display: none;">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header bg-primary text-white text-center">
                            <strong class="">Add Employee</strong>
                            <i class="fa-solid fa-xmark" data-bs-dismiss="modal" style="margin-left: 640px;color: white;font-size: 20px;"></i>
                        </div>
                            
                        <div class="modal-body">
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label>Name :</label>
                                    <input type="text" placeholder="Enter Name" class="form-control" name="name" #name="ngModel" required
                                        [(ngModel)]="employeeobj.empName">
                                        @if (name.touched||name.dirty) {
                                            <div class="text-danger">
                                                @if (name.errors) {
                                                    <span >EmailId is Required</span>
                                                }
                                                
                                              </div>
                                        }
                                </div>
                                <div class="form-group col-md-6">
                                    <label>Email :</label>
                                    <input type="text" placeholder="Enter Email" class="form-control"
                                      name="email" #email="ngModel"  [(ngModel)]="employeeobj.empEmailId" required>
                                    @if (email.touched||email.dirty) {
                                        <div class="text-danger">
                                            @if (email.errors) {
                                                <span >EmailId is Required</span>
                                            }
                                            
                                          </div>
                                    }
                                      
                                </div>
                                <div class="form-group col-md-6">
                                    <label>UserName :</label>
                                    <input type="text" placeholder="Enter Email" class="form-control"
                                     name="username" #username="ngModel" [(ngModel)]="employeeobj.userName" required>
                                     @if (username.touched||username.dirty) {
                                        <div class="text-danger">
                                            @if (username.errors) {
                                                <span >EmailId is Required</span>
                                            }
                                            
                                          </div>
                                    }
                                </div>
                                <div class="form-group col-md-6">
                                    <label>Password :</label>
                                    <input type="password" placeholder="Enter Password" class="form-control"
                                     name="password" #password="ngModel"   [(ngModel)]="employeeobj.password" required>
                                     @if (password.touched||password.dirty) {
                                        <div class="text-danger">
                                            @if (password.errors) {
                                                <span >EmailId is Required</span>
                                            }
                                            
                                          </div>
                                    }
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label>Designation :</label><br>
                                    <select [(ngModel)]="employeeobj.empDesignationId">
                                        <option [value]="0" selected>Employee Designation</option>
                                        @for (design of designList; track $index) {
                                            <option [value]="design.designationId">{{design.designation}}</option>
                                        }
                                       
                                    </select>
                                </div>
                                <div class="form-group col-md-6">
                                    <label>Role :</label><br>
                                    <select [(ngModel)]="employeeobj.roleId">
                                        <option [value]="0" selected>Employee Role</option>
                                        @for (role of roleList; track $index) {
                                            <option [value]="role.roleId">{{role.role}}</option>
                                        }
                                        
                                    </select>
                                </div>
                                <div class="form-group col-md-6">
                                    <label>Contact No :</label>
                                    <input type="text" placeholder="Enter Contact No" class="form-control"
                                     name="contactno" #contactno="ngModel"   [(ngModel)]="employeeobj.empContactNo" required>
                                     @if (contactno.touched||contactno.dirty) {
                                        <div class="text-danger">
                                            @if (contactno.errors) {
                                                <span >EmailId is Required</span>
                                            }
                                            
                                          </div>
                                    }
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label>Alternate Contact No :</label>
                                    <input type="text" placeholder="Alternate Contact No." class="form-control"
                                     name="altcontactno" #altcontactno="ngModel"   [(ngModel)]="employeeobj.empAltContactNo" required>
                                     @if (altcontactno.touched||altcontactno.dirty) {
                                        <div class="text-danger">
                                            @if (altcontactno.errors) {
                                                <span >EmailId is Required</span>
                                            }
                                            
                                          </div>
                                    }
                                </div>
                                <div class="form-group col-md-6">
                                    <label>Personal Email ID :</label>
                                    <input type="text" placeholder="Enter Personal EmailID" class="form-control"
                                     name="peremailid" #peremailid="ngModel"   [(ngModel)]="employeeobj.empEmailId" required>
                                     @if (peremailid.touched||peremailid.dirty) {
                                        <div class="text-danger">
                                            @if (peremailid.errors) {
                                                <span >EmailId is Required</span>
                                            }
                                            
                                          </div>
                                    }
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label>Total Years of Experience :</label>
                                    <input type="text" placeholder="Enter total Years of Experience"
                                     name="totalyrExp" #totalyrExp="ngModel"   class="form-control" [(ngModel)]="employeeobj.empExpTotalYear" required>
                                     @if (totalyrExp.touched||totalyrExp.dirty) {
                                        <div class="text-danger">
                                            @if (totalyrExp.errors) {
                                                <span >EmailId is Required</span>
                                            }
                                            
                                          </div>
                                    }
                                </div>
                                <div class="form-group col-md-6">
                                    <label>Total Month of Experience :</label>
                                    <input type="text" placeholder="Enter month of Experience" class="form-control"
                                     name="totalmonExp" #totalmonExp="ngModel"   [(ngModel)]="employeeobj.empExpTotalMonth" required>
                                     @if (totalmonExp.touched||totalmonExp.dirty) {
                                        <div class="text-danger">
                                            @if (totalmonExp.errors) {
                                                <span >EmailId is Required</span>
                                            }
                                            
                                          </div>
                                    }
                                    </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label>City :</label>
                                    <input type="text" placeholder="Enter City" class="form-control"
                                     name="city" #city="ngModel" [(ngModel)]="employeeobj.empCity" required>
                                     @if (city.touched||city.dirty) {
                                        <div class="text-danger">
                                            @if (city.errors) {
                                                <span >EmailId is Required</span>
                                            }
                                            
                                          </div>
                                    }
                                </div>
                                <div class="form-group col-md-6">
                                    <label>State :</label>
                                    <input type="text" placeholder="Enter State" class="form-control"
                                    name="state" #state="ngModel" [(ngModel)]="employeeobj.empState" required>
                                    @if (state.touched||state.dirty) {
                                        <div class="text-danger">
                                            @if (state.errors) {
                                                <span >EmailId is Required</span>
                                            }
                                            
                                          </div>
                                    }
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-12">
                                    <label>Address :</label>
                                    <textarea placeholder="Enter Address" class="form-control"
                                     name="address" #address="ngModel" [(ngModel)]="employeeobj.empAddress" required></textarea>
                                     @if (address.touched||address.dirty) {
                                        <div class="text-danger">
                                            @if (address.errors) {
                                                <span >EmailId is Required</span>
                                            }
                                            
                                          </div>
                                    }
                                    </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label>Pincode :</label>
                                    <input type="text" placeholder="Enter Pincode" class="form-control"
                                     name="pincode" #pincode="ngModel" [(ngModel)]="employeeobj.empPerPinCode" required>
                                     @if (pincode.touched||pincode.dirty) {
                                        <div class="text-danger">
                                            @if (pincode.errors) {
                                                <span >EmailId is Required</span>
                                            }
                                            
                                          </div>
                                    }
                                </div>
                                <div class="form-group col-md-6">
                                    <label>Personal City :</label>
                                    <input type="text" placeholder="Enter Personal City" class="form-control"
                                     name="percity" #percity="ngModel"   [(ngModel)]="employeeobj.empPerCity" required>
                                     @if (percity.touched||percity.dirty) {
                                        <div class="text-danger">
                                            @if (percity.errors) {
                                                <span >EmailId is Required</span>
                                            }
                                            
                                          </div>
                                    }
                                </div>

                            </div>
                            <div class="row">

                                <div class="form-group col-md-6">
                                    <label>Personal State :</label>
                                    <input type="text" placeholder="Enter Personal State" class="form-control"
                                    name="perstate" #perstate="ngModel" [(ngModel)]="employeeobj.empPerState" required>
                                    @if (perstate.touched||perstate.dirty) {
                                        <div class="text-danger">
                                            @if (perstate.errors) {
                                                <span >EmailId is Required</span>
                                            }
                                            
                                          </div>
                                    }
                                </div>
                                <div class="form-group col-md-6">
                                    <label>Personal Pin Code :</label>
                                    <input type="text" placeholder="Enter Personal Pin Code" class="form-control"
                                     name="perpincode" #perpincode="ngModel" [(ngModel)]="employeeobj.empPerPinCode" required>
                                     @if (perpincode.touched||perpincode.dirty) {
                                        <div class="text-danger">
                                            @if (perpincode.errors) {
                                                <span >EmailId is Required</span>
                                            }
                                            
                                          </div>
                                    }
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <label>Personal Address :</label>
                                    <textarea placeholder="Enter Personal Address" class="form-control"
                                    name="peraddress" #peraddress="ngModel" [(ngModel)]="employeeobj.empPerAddress" required></textarea>
                                    @if (peraddress.touched||peraddress.dirty) {
                                        <div class="text-danger">
                                            @if (peraddress.errors) {
                                                <span >EmailId is Required</span>
                                            }
                                            
                                          </div>
                                    }
                                </div>
                            </div>
                            <hr>
                            <div class="modal-footer">
                                <div class="row">
                                    <div class="form-group col-md-12 d-flex justify-content-center">
                                        @if (visibleSavebutton) {
                                        <button class="btn btn-sm btn-success" ngIf="employeeobj.empId===0" style="margin-right: 2px;"
                                            (click)="Addemployee()"><i class="fa fa-save"></i>
                                            Save</button>
                                        }
                                        @if (visibleUpdatebutton) {
                                            <button class="btn btnupdate btn-info rounded  text-white" ngIf="employeeobj.empId!=0" style="margin-right: 2px;"
                                            (click)="updateEmployee()"><i class="fa-solid fa-pen"></i>Update</button>
                                    }
                                    <button class="btn btn-danger" (click)="reset()">Reset</button>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
