
        <div class="row">
            <nav aria-label="breadcrumb mt-5">
                <ol class="breadcrumb mt-3">
                    <li class="breadcrumb-item"><i class="fa-solid fa-house-circle-check"></i><a routerLink="/login">
                            Login</a></li>
                    <li class="breadcrumb-item active" aria-current="page"><a routerLink="/client"></a>Project Details</li>
                </ol>
            </nav>
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header d-flex justify-content-between align-items-center bg-primary">
                        <strong class="text-white">Client Information</strong> 
                         <button type="button" class="btn btn-sm btn-danger" (click)="ShowSavebutton()" data-bs-toggle="modal" data-bs-target="#clientproject"><i class="fa fa-plus"></i> Add new</button>
                     </div>
                     <div class="card-body">
                        <table class="table table-srtipped table-bordered ">
                            <thead>
                                <tr>
                                    <!-- <th>Sr.No</th> -->
                                    <th>ClientName</th>
                                    <th>Employee Name</th>
                                    <th>Project Name</th>
                                    <th>Start Date</th>
                                    <th>End Date</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @for (project of projectList; track  $index) {
                                    <tr>
                                        <!-- <td>{{srno+1}}</td> -->
                                        <td>{{project.clientName}}</td>
                                        <td>{{project.empName}}</td>
                                        <td>{{project.projectName}}</td>
                                        <td>{{project.startDate|date}}</td>
                                        <td>{{project.expectedEndDate|date}}</td>
                                        <td>
                                            <button class="btn btnedit btn-warning m-1" (click)="Showupdatebutton()" data-bs-toggle="modal" data-bs-target="#clientproject" (click)="onEdit(project)"><i class="fa-solid fa-file-pen"></i></button>
                                            <button class="btn btndelete btn-danger"><i class="fa-solid fa-trash-arrow-up" (click)="onDelete(project)"></i></button>
                                        </td>
                                    </tr>

                                }
                            </tbody>
                        </table>
                     </div>
                </div> 
            </div>
        </div>
            <div class="modal" id="clientproject">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                <div class="modal-header bg-primary">
                   <strong class="text-white">Add Client Project</strong> 
                   <i class="fa-solid fa-xmark" data-bs-dismiss="modal" style="margin-left: 600px;color: white;font-size: 20px;"></i>
                </div>
                <div class="modal-body">
                    <form #myform="ngForm">
                        <div class="row">
                            <div class="col-md-6">
                                <label for="">Client Name</label>
                                <select [(ngModel)]="projectobj.clientId" name="clientnm"  class="form-control">
                                <option [value]="0" selected>Select Client Name</option>
                                @for (client of clientList; track $index) {
                                    <option [value]="client.clientId">{{client.contactPersonName}}</option>
                                }
                                </select>
                            </div>
                            <div class="col-md-6">
                                <label for="">Employee Name</label>
                                <select [(ngModel)]="projectobj.leadByEmpId" name="empnm" class="form-control">
                                <option [value]="0" selected>Select Employee</option>
                                @for (emp of employeeList; track $index) {
                                    <option [value]="emp.empId">{{emp.empName}}</option>
                                }
                                </select>
                            </div>
                            <div class="form-group col-md-6">
                                <label for=form-group class="form-label">Project Name</label>
                                <input type="text" name="projectnm" #projectnm="ngModel" placeholder="Enter Project Name" class="form-control" [(ngModel)]="projectobj.projectName" required>
                                @if (projectnm.touched||projectnm.dirty) {
                                    <div class="text-danger">
                                        @if (projectnm.errors) {
                                            <span>Project Name is Required</span>
                                        }
                                    </div>
                                }
                            </div>
                            <div class="form-group col-md-6">
                                <label for=form-group class="form-label">Start Date</label>
                                <input type="date" name="startDate" #startdate="ngModel" placeholder="Enter Project Name" class="form-control" [(ngModel)]="projectobj.startDate" required>
                                @if (startdate.touched||startdate.dirty) {
                                    <div class="text-danger">
                                        @if (startdate.errors) {
                                            <span>Please enter start date</span>
                                        }
                                    </div>
                                }
                            </div>
                            <div class="form-group col-md-6">
                                <label for=form-group class="form-label">Expected End Date</label>
                                <input type="date" name="enddate" #enddate="ngModel" placeholder="Enter Project Name" class="form-control" [(ngModel)]="projectobj.expectedEndDate" required>
                                @if (enddate.touched||enddate.dirty) {
                                    <div class="text-danger">
                                        @if (enddate.errors) {
                                            <span>Enter Expected End Date</span>
                                        }
                                    </div>
                                }
                            </div>
                            <div class="form-group col-md-6">
                                <label for=form-group class="form-label">Completed Date</label>
                                <input type="date" name="comdate" #comdate="ngModel" placeholder="Enter Project Name" class="form-control" [(ngModel)]="projectobj.completedDate" required>
                                @if (comdate.touched||comdate.dirty) {
                                    <div class="text-danger">
                                        @if (comdate.errors) {
                                            <span>Enter Complition Date</span>
                                        }
                                    </div>
                                }
                            </div>
                    
                        <div class="form-group col-md-6">
                            <label for=form-group class="form-label">Contact Person</label>
                                        <input type="text" name="contperson" #contperson="ngModel" placeholder="Enter Contact Person" class="form-control" [(ngModel)]="projectobj.contactPerson" required>
                                        @if (contperson.touched||contperson.dirty) {
                                            <div class="text-danger">
                                                @if (contperson.errors) {
                                                    <span>Enter Your Contact Person</span>
                                                }
                                            </div>
                                        }
                        </div>
                        <div class="form-group col-md-6">
                            <label for=form-group class="form-label">Contact Number</label>
                                        <input type="text" name="contactno" #contactno="ngModel" placeholder="Enter Contact Number " class="form-control" [(ngModel)]="projectobj.contactPersonContactNo" required>
                                        @if (contactno.touched||contactno.dirty) {
                                            <div class="text-danger">
                                                @if (contactno.errors) {
                                                    <span>Enter Your Contact Number</span>
                                                }
                                            </div>
                                        }
                        </div>
                        
                        <div class="form-group col-md-6">
                            <label for=form-group class="form-label">Person EmailId</label>
                                        <input type="email" name="peremail" #peremail="ngModel" placeholder="Enter Person EmailId" class="form-control" [(ngModel)]="projectobj.contactPersonEmailId" required>
                                        @if (peremail.touched||peremail.dirty) {
                                            <div class="text-danger">
                                                @if (peremail.errors) {
                                                    <span>Enter Your Personal EmailId</span>
                                                }
                                            </div>
                                        }
                        </div>
                        <div class="form-group col-md-6">
                            <label for=form-group class="form-label">Total Employee Working</label>
                                        <input type="text" placeholder="Enter Total Employee Working"
                                            class="form-control" name="totalemp" #totalemp="ngModel" [(ngModel)]="projectobj.totalEmpWorking" required>
                                            @if (totalemp.touched||totalemp.dirty) {
                                                <div class="text-danger">
                                                    @if (totalemp.errors) {
                                                        <span>Enter Your Total Employee Working</span>
                                                    }
                                                </div>
                                            }
                        </div>
                        <div class="form-group col-md-6">
                            <label for=form-group class="form-label">Project Cost</label>
                            <input type="text" name="projcost" #projcost="ngModel" placeholder="Enter Project Name" class="form-control" [(ngModel)]="projectobj.projectCost" required>
                            @if (projcost.touched||projcost.dirty) {
                                <div class="text-danger">
                                    @if (projcost.errors) {
                                        <span>Enter Project Cost</span>
                                    }
                                </div>
                            }
                        </div>
                        <div class="form-group col-md-6">
                            <label for=form-group class="form-label">Project Details</label>
                            <input type="text" name="projdetails" #projdetails="ngModel" placeholder="Enter Project Name" class="form-control" [(ngModel)]="projectobj.projectDetails" required>
                            @if (projdetails.touched||projdetails.dirty) {
                                <div class="text-danger">
                                    @if (projdetails.errors) {
                                        <span>Give Some Project Details</span>
                                    }
                                </div>
                            }
                        </div>
                        
                    </div> 
                </form>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="form-group col-md-12 d-flex justify-content-center">
                        @if (Visiblesavebutton) {
                        <button class="btn btn-sm btn-success" (click)="Addproject()" style="margin-right: 2px;"><i class="fa fa-save"></i>
                            Save</button>
                        }
                        @if (Visibleupdatebutton) {
                            <button class="btn btn-info" (click)="Updateproject()">Update</button>
                        }
                       <button class="btn btn-sm btn-danger">Reset</button>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    </div>
    
