<div class="row">
    <nav aria-label="breadcrumb mt-5">
        <ol class="breadcrumb mt-3">
            <li class="breadcrumb-item"><i class="fa-solid fa-house-circle-check"></i><a routerLink="/login">
                    Login</a></li>
            <li class="breadcrumb-item active" aria-current="page"><a routerLink="/client"></a>Client Details</li>
        </ol>
    </nav>
    <div class="col-12">
        <div class="card">
            <div class="card-header d-flex justify-content-between align-items-center">
                <strong>Client Information</strong>
                <button type="button" data-bs-toggle="modal" data-bs-target="#addcliet" (click)="VisibleSaveButton()"
                    class="btn btn-sm btn-danger"><i class="fa fa-plus"></i> Add new</button>
            </div>
            <div class="card-body">
                <table class="table table-srtipped table-bordered ">
                    <thead>
                        <tr>
                            <th>Contact Person Name</th>
                            <th>Company Name </th>
                            <th> City </th>
                            <th>GST No</th>
                            <th> Contact No </th>
                            <th>Registration No</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (client of clientList; track $index) {
                        <tr>
                            <td>{{client.contactPersonName}}</td>
                            <td>{{client.companyName}}</td>
                            <td>{{client.city}}</td>
                            <td>{{client.gstNo}}</td>
                            <td>{{client.contactNo}}</td>
                            <td>{{client.regNo}}</td>
                            <td>
                                <button class="btn btnedit btn-info m-1" (click)="VisibleUpdateButton()"
                                    data-bs-toggle="modal" data-bs-target="#addcliet" (click)="onEdit(client)"><i
                                        class="fa-solid fa-file-pen"></i></button>
                                <button class="btn btndelete btn-danger" (click)="onDelete(client)"><i
                                        class="fa-solid fa-trash-arrow-up"></i></button>
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="modal" id="addcliet">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-success">
                <strong class="text-white">Add Client</strong>
                <i class="fa-solid fa-xmark" data-bs-dismiss="modal"
                    style="margin-left: 350px;color: white;font-size: 20px;"></i>
            </div>
            <div class="modal-body">
                <form #myform="ngForm">
                    <div class="row">
                        <div class="col-md-6">
                            <label>Contact Person Name :</label>
                            <input type="text" placeholder="Person Name" class="form-control" name="pername"
                                #pername="ngModel" [(ngModel)]="clientobj.contactPersonName" required>
                            @if (pername.touched||pername.dirty) {
                            <div class="text-danger">
                                @if (pername.errors) {
                                <span>Person name is Required</span>
                                }

                            </div>
                            }

                        </div>
                        <div class=" col-md-6">
                            <label>Company Name :</label>
                            <input type="text" placeholder="Company Name" class="form-control" name="companynm"
                                #companynm="ngModel" [(ngModel)]="clientobj.companyName" required>
                            @if (companynm.touched||companynm.dirty) {
                            <div class="text-danger">
                                @if (companynm.errors) {
                                <span>Company name is Required</span>
                                }
                            </div>

                            }
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label> Registration No :</label>

                            <input type="text" placeholder="Enter Registration no" class="form-control" name="regno"
                                #regno="ngModel" [(ngModel)]="clientobj.regNo" required>
                            @if (regno.touched||regno.dirty) {
                            <div class="text-danger">
                                @if (regno.errors) {
                                <span>Enter Registration Number</span>
                                }
                            </div>

                            }

                        </div>
                        <div class="col-md-6">
                            <label for=""> City :</label>
                            <input type="text" placeholder="Enter City Name" class="form-control" name="city"
                                #city="ngModel" [(ngModel)]="clientobj.city" required>
                            @if (city.touched||city.dirty) {
                            <div class="text-danger">
                                @if (city.errors) {
                                <span>Enter Your City</span>
                                }
                            </div>

                            }

                        </div>
                    </div>
                    <div class="row">

                        <div class="col-md-6">
                            <label>Pin Code :</label>
                            <input type="text" placeholder="Enter Pincode" class="form-control" name="pincode"
                                #pincode="ngModel" [(ngModel)]="clientobj.pincode" required>
                            @if (pincode.touched||pincode.dirty) {
                            <div class="text-danger">
                                @if (pincode.errors) {
                                <span>Enter PinCode</span>
                                }
                            </div>

                            }

                        </div>
                        <div class="col-md-6">
                            <label>State :</label>
                            <input type="text" placeholder="Enter State" class="form-control" name="state"
                                #state="ngModel" [(ngModel)]="clientobj.state" required>
                            @if (state.touched||state.dirty) {
                            <div class="text-danger">
                                @if (companynm.errors) {
                                <span>Enter Your State</span>
                                }
                            </div>

                            }

                        </div>
                        <div class="col-md-6">
                            <label>Contact No :</label>

                            <input type="text" placeholder="Contact No" class="form-control" name="contno"
                                #contno="ngModel" [(ngModel)]="clientobj.contactNo" required>
                            @if (contno.touched||contno.dirty) {
                            <div class="text-danger">
                                @if (contno.errors) {
                                <span>Enter Your Contact No</span>
                                }
                            </div>

                            }

                        </div>
                        <div class="col-md-6">
                            <label>GST No:</label>
                            <input type="text" placeholder="Enter GST No" class="form-control" name="gstno"
                                #gstno="ngModel" [(ngModel)]="clientobj.gstNo" required>
                            @if (gstno.touched||gstno.dirty) {
                            <div class="text-danger">
                                @if (gstno.errors) {
                                <span>Enter GST No</span>
                                }
                            </div>

                            }

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <label>Employee Strength:</label>
                            <textarea placeholder="Employee Strength" class="form-control" name="empstrength"
                                #empstrength="ngModel" [(ngModel)]="clientobj.EmployeeStrength" required></textarea>
                            @if (empstrength.touched||empstrength.dirty) {
                            <div class="text-danger">
                                @if (empstrength.errors) {
                                <span>Enter Your Employee Strength</span>
                                }
                            </div>

                            }

                        </div>

                    </div>
                    <div class="row">

                        <div class="col-md-12">
                            <label>Address :</label>
                    <textarea placeholder="Address" class="form-control" [(ngModel)]="clientobj.address"></textarea>
                        </div>

                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-12 d-flex justify-content-center">
                        @if (Visiblesavebutton) {
                        <button class="btn btn-sm btn-success" (click)="onSave()" style="margin-right: 2px;"><i
                                class="fa fa-save"></i>
                            Save</button>
                        }
                        @if (Visibleupdatebutton) {
                        <button class="btn btnupdate btn-info rounded" (click)="onUpdate()">Update</button>
                        }
                        <button class="btn btn-sm btn-danger" (click)="reset()">Reset</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>